/* Background colors */


.blightblue{
	background:#52b9e9 !important;
	color: #fff !important;
	border: 0px !important;
}

.bblue{
	background:#1171a3 !important;
	color: #fff !important;	
	border: 0px !important;
}

.bgreen{
	background: #43c83c !important;
	color: #fff !important;	
	border: 0px !important;
}

.borange{
	background:#f88529 !important;
	color: #fff !important;	
	border: 0px !important;	
}

.bred{
	background: #fa3031 !important;
	color: #fff !important;	
	border: 0px !important;
}

.bviolet{
	background: #932ab6 !important;
	color: #fff !important;	
	border: 0px !important;
}

.blightblue h2,.blightblue h3, .blightblue h3, .blightblue h4, .blightblue h5, .blightblue h6,
.bblue h2,.bblue h3, .bblue h3, .bblue h4, .bblue h5, .bblue h6,
.bgreen h2,.bgreen h3, .bgreen h3, .bgreen h4, .bgreen h5, .bgreen h6,
.bred h2,.bred h3, .bred h3, .bred h4, .bred h5, .bred h6,
.bviolet h2,.bviolet h3, .bviolet h3, .bviolet h4, .bviolet h5, .bviolet h6,
.borange h2,.borange h3, .borange h3, .borange h4, .borange h5, .borange h6{
	color: #fff !important;
}
 
.blightblue a,
.bblue a,
.bgreen a,
.bred a,
.borange a,
.bviolet a{
	color: #eee !important;
}

.blightblue a:hover,
.bblue a:hover,
.bgreen a:hover,
.bred a:hover,
.borange a:hover,
.bviolet a:hover{
	color: #ddd !important;
}

/* Text colors */

/*.lightblue{
	color:#52b9e9 !important;
}

.blue{
	color:#1171a3 !important;
}

.green{
	color: #43c83c !important;
}

.orange{
	color:#f88529 !important;
}

.red{
	color: #fa3031 !important;
}

.violet{
	color: #932ab6 !important;
}*/

/* Widget */

.widget {
  /*margin-top: 10px;*/
  margin-bottom: 20px;
  background: #fff;
}

.widget hr{
	margin: 4px 0px;
	padding: 4px 0px;
	border-top: 0px;
	border-bottom: 1px solid #ddd;
}

.widget .table{
	margin: 0px;
	width: 100%;
}

.widget .table-bordered{
	border: 0px;
}

.widget .table-bordered th{
	border-bottom: 1px solid #ccc !important;
}

.widget .table-bordered td{
	border-top: 0px !important;
	border-bottom: 1px solid #ccc !important;
}

.widget .table-bordered td:first-child, .widget .table-bordered th:first-child{
	border-left: 0px;
}

.widget .padd{
	padding: 15px 10px;
}

.widget .widget-head{
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #777;
  font-size: 18px;
  padding: 12px 15px;
}

.widget .widget-head .widget-icons i{
	font-size: 14px;
	margin: 0px 4px;
}

.widget .widget-head .widget-icons a{
	color: #aaa;
}

.widget .widget-head .widget-icons a:hover{
	color: #888;
}

.widget .widget-content{
	border-left: 1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.widget .widget-foot{
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-top: 0px;
  padding: 8px 15px;
  font-size: 13px;
  color: #555;
}

/* Widget colors */

.widget.wred .widget-head{
  background-color: #fa3031;
  border: 1px solid #fa3031;
  color: #fff;
}

.widget.wlightblue .widget-head{
  background-color: #52b9e9;
  border: 1px solid #52b9e9;
  color: #fff;
}

.widget.wblue .widget-head{
  background-color: #1171a3;
  border: 1px solid #1171a3;
  color: #fff;
}

.widget.wgreen .widget-head{
  background-color: #43c83c;
  border: 1px solid #43c83c;
  color: #fff;
}

.widget.worange .widget-head{
  background-color: #f88529;
  border: 1px solid #f88529;
  color: #fff;
}

.widget.wviolet .widget-head{
  background-color: #932ab6;
  border: 1px solid #932ab6;
  color: #fff;
}

.widget.wred .widget-head .widget-icons a,
.widget.wblue .widget-head .widget-icons a,
.widget.wlightblue .widget-head .widget-icons a,
.widget.worange .widget-head .widget-icons a,
.widget.wgreen .widget-head .widget-icons a,
.widget.wviolet .widget-head .widget-icons a{
	color: #fff;
}

.widget.wred .widget-head .widget-icons a:hover,
.widget.wblue .widget-head .widget-icons a:hover,
.widget.wlightblue .widget-head .widget-icons a:hover,
.widget.worange .widget-head .widget-icons a:hover,
.widget.wgreen .widget-head .widget-icons a:hover,
.widget.wviolet .widget-head .widget-icons a:hover{
	color: #eee;
}

/* Widget white extras */

.widget .nav-tabs > li a {
   	padding: 5px 10px;
}

.widget .nav-tabs {
	margin-bottom: 5px;
}

.widget .tab-content{
	margin-bottom: 10px;
}

/* Calendar */

.fc-header-title h2 {
	font-size: 15px;
	line-height: 20px;
}

.fc-event-skin {
	background-color: #ff5d5e;
	border-color: #ff3839;
}	

.fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay {
	right: 20px;
}

.fc-state-default {
	background: #eee !important;
}

.fc-state-default:hover{
	background: #ddd !important;
}

.fc-widget-header {
	padding: 7px 0px !important;
	color: #666;
	background: #eee;
	border-color: #ccc;
}

.fc-content {
	background: #fff;	
}

.fc-content td:hover{
	background: #f3f3f3;	
}

/* Current status */

.current-status{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.current-status .bold{
	font-size: 13px;
	margin-left: 8px;
}

.current-status li{
 	padding: 10px 0px;
 }

/* Knob */

.dial{
	border: 0px !important;
}

/* Today datas */

.today-datas{
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px;
}

.today-datas li{
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 10px;
    padding: 20px 15px;
  background-color: #f8f8f8;	
  background: #f8f8f8;
  border: 1px solid #ccc;
  max-width: 100%;
  text-align: center;
}

.today-datas li .label {
    box-shadow: none;
    display: block;
    padding: 3px 5px;
    position: absolute;
    right: 3px;
    top: 3px;
}

.today-datas li .spark{
	margin-right: 10px;
}

.today-datas li .datas-text{
	font-size: 13px;
	padding: 7px 0px 0px 0px;
	font-weight: normal;
}

.today-datas li .datas-text span{
	display: block;
	font-size: 24px;
	margin-bottom: 5px;
}

.today-datas li i.grande {
	font-size: 50px;
	margin-right: 10px;
}

.today-datas li .dial {
	margin-right: 10px !important;
}

/* Profile */

.profile{
	margin-top: 15px;
}

/* Error */

.error-page{
	max-width: 500px;
	margin: 50px auto;
}

.error h1{
	font-weight: normal;
}

/* Grid */

.show-grid div{
	background: #eee;
	text-align: center;
	margin: 10px 0px;
	border: 1px solid #ddd;
}

/* Slider */

#eq span {
    height:120px; float:left; margin:15px
}

.ui-slider .ui-slider-handle { 
	position: absolute; 
	z-index: 2; 
	width: 0.9em; 
	height: 0.9em; 
	cursor: default; 
	background: #fafafa !important;
	border: 1px solid #ccc !important; 
}

.ui-slider-horizontal { 
	height: .5em; 
	border: 0px solid #eee !important; 
	background: #dfdfdf !important;
}

.ui-slider-vertical { 
	height: 100px; 
	width: 0.5em;
	border: 0px solid #fff !important; 
	background: #dfdfdf !important;
}

#master1, #master2, #master3, #master4, #master5, #master6{
	width: 100%;
	margin:15px 0px !important;
}

.slider-red .ui-widget-header{
	background: #dd514c !important;
	border-color: #dd514c !important;
}	

.slider-blue .ui-widget-header{
	background: #36a5c6 !important;
	border-color: #36a5c6 !important;
}	

.slider-green .ui-widget-header{
	background: #44c636 !important;
	border-color: #44c636 !important;
}	

.slider-yellow .ui-widget-header{
	background: #fcd419 !important;
	border-color: #fcd419 !important;
}	

.slider-orange .ui-widget-header{
	background: #fc9419 !important;
	border-color: #fc9419 !important;
}	

.slider-violet .ui-widget-header{
	background: #9919fc !important;
	border-color: #9919fc !important;
}	

/* Toggle button */

.toggle-button span {
	font-size: 13px !important;
}

/* Gallery */

.gallery img{
	max-width: 170px;
	margin: 5px;
}

/* Error log */

.error-log{
	height: 400px;
	overflow: auto;
}

.error-log ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.error-log ul li{
	padding: 10px 0px;
}

/* Media */

.medias .checker {
	width: 5px !important;
}

.medias img{
	max-width: 40px;
}

/* CL Editor */

.cleditorMain{
	border: 1px solid #ccc;
	margin: 10px 0px;
}

.cleditorMain textarea, .cleditorMain iframe{
	width: 100% !important;
}

/* Chart */

#curve-chart,#live-chart,#pie-chart,#pie-chart2,#pie-chart3{
	height: 250px;
	max-width: 100%;
}

#bar-chart{
	height: 283px;
	max-width: 100%;	
}

#pie-chart,#pie-chart2,#pie-chart3{
	max-width: 300px;
	margin: 10px auto;
}

/* Support page */

#slist p{
display: none;
margin:5px 0px;
padding:5px 10px !important; 
background:#fff;
line-height: 25px;
border:1px solid #eee;
}

#slist{
	margin-left: 20px;
}

#slist li{
	margin-bottom: 10px;
}

#slist li a{
	display: block;
	margin-bottom: 0px;
}

.support-contact i{
	margin-right: 3px;
}

/* Post form */

.post{
	margin-top: 20px;
}

/* Login and Register form */

.admin-form{
	max-width: 500px;
	margin: 50px auto;
}

.admin-form form{
	padding: 10px 0px;
}

/* Quick Buttons
=================================================================== */

.quick-button {
	border: 1px solid #ddd;
	margin-bottom: -1px;
  	padding: 30px 0px 10px 0px;
	font-size: 14px;
  	background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  	background-image: -o-linear-gradient(top, #fafafa, #efefef);
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
	   -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
			box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
  	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
          	border-radius: 2px;
	display:block;
	color: #646464;
	text-shadow: 0 1px 0px rgba(255, 255, 255, .6);
	text-align: center;
	cursor: pointer;
	position: relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin-top: 14px;
}

.quick-button:hover {
	text-decoration: none;
	border-color: #a5a5a5;
	color: #444444;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
  	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
       -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
          	box-shadow: 0px 0px 3px rgba(0,0,0,.25);
}
.quick-button:hover .notification {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.6);
       -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.6);
          	box-shadow: 0px 0px 3px rgba(0,0,0,.6);
}

.quick-button i {
	font-size: 32px;
}

.quick-button2.metro  {
	color:#fff; 
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	display:block;
	margin-top:20px;
}
.quick-button2.metro i {
	font-size: 64px;
}

.quick-button2.metro p {
	text-align: left;
	margin-top: 20px;
}

.quick-button2.metro .badge {
	text-align: center !important;
	position: absolute;
	top: 50%;
	left: 70%;
	background: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}

/* Quick Buttons Metro Style
=================================================================== */

.quick-button.metro {
	position: relative;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	filter: none;
	padding: 30px 10px 0px 10px;
	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}

.quick-button.metro p {
	text-align: left;
	margin-top: 20px;
}

.quick-button.metro:hover {
	color: rgba(255,255,255,.9);
	text-shadow: none;
}

.quick-button.metro i {
	font-size: 64px;
	text-align: center !important;
}

.quick-button.metro .badge {
	text-align: center !important;
	position: absolute;
	top: 50%;
	left: 70%;
	background: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}


/* Quick Buttons Small
=================================================================== */

.quick-button-small {
	border: 1px solid #ddd;
  	padding: 15px 0px 0px 0px;
	font-size: 10px;
  	background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  	background-image: -o-linear-gradient(top, #fafafa, #efefef);
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
	   -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
			box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
  	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
          	border-radius: 2px;
	display:block;
	color: #646464;
	text-shadow: 0 1px 0px rgba(255, 255, 255, .6);
	text-align: center;
	cursor: pointer;
	position: relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.quick-button-small:hover {
	text-decoration: none;
	border-color: #a5a5a5;
	color: #444444;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
  	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
       -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
          	box-shadow: 0px 0px 3px rgba(0,0,0,.25);
}

.quick-button-small:hover .notification {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.6);
       -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.6);
          	box-shadow: 0px 0px 3px rgba(0,0,0,.6);
}

.quick-button-small i {
	font-size: 20px;
}

/* Main Colors
=================================================================== */

.black,
.black [class="box-header"],
.black.box,
.slider.black .ui-slider-range, 
.progress.black .ui-progressbar-value
.sliderVertical.black .ui-slider-range,
.progressSlim.black .ui-progressbar-value {
	background: #222 !important;
	border-color: #222 !important;
	color: #fff;
}

.black .box-header h2 i,
.black .box-header .box-icon i,
.black .box-header .box-icon i:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.bpink,
.bpink [class="box-header"],
.bpink.box,
.slider.bpink .ui-slider-range, 
.progress.bpink .ui-progressbar-value,
.sliderVertical.bpink .ui-slider-range,
.progressSlim.bpink .ui-progressbar-value {
	background: #9F00A7 !important;
	border-color: #9F00A7 !important;
	color: #fff;
}

.yellow,
.yellow [class="box-header"],
.yellow.box,
.slider.yellow .ui-slider-range, 
.progress.yellow .ui-progressbar-value,
.sliderVertical.yellow .ui-slider-range,
.progressSlim.yellow .ui-progressbar-value,
.label-warning,
.badge-warning {
	background: #FFC40D !important;
	border-color: #FFC40D !important;
	color: #fff;
}


/*
.green,
.green [class="box-header"],
.green.box,
.slider.green .ui-slider-range, 
.progress.green .ui-progressbar-value,
.sliderVertical.green .ui-slider-range,
.progressSlim.green .ui-progressbar-value,
.label-success,
.badge-success {
	background: #00A300 !important;
	border-color: #00A300 !important;
	color: #fff;
}

.greenDark,
.greenDark [class="box-header"],
.greenDark.box,
.slider.greenDark .ui-slider-range, 
.progress.greenDark .ui-progressbar-value,
.sliderVertical.greenDark .ui-slider-range,
.progressSlim.greenDark .ui-progressbar-value {
	background: #1E7145 !important;
	border-color: #1E7145 !important;
	color: #fff;
}

.greenLight,
.greenLight [class="box-header"],
.greenLight.box,
.slider.greenLight .ui-slider-range, 
.progress.greenLight .ui-progressbar-value,
.sliderVertical.greenLight .ui-slider-range,
.progressSlim.greenLight .ui-progressbar-value {
	background: #99B433 !important;
	border-color: #99B433 !important;
	color: #fff;
}


.pinkDark,
.pinkDark [class="box-header"],
.pinkDark.box,
.slider.pinkDark .ui-slider-range, 
.progress.pinkDark .ui-progressbar-value,
.sliderVertical.pinkDark .ui-slider-range,
.progressSlim.pinkDark .ui-progressbar-value {
	background: #7E3878 !important;
	border-color: #7E3878 !important;
	color: #fff;
}

.purple,
.purple [class="box-header"],
.purple.box,
.slider.purple .ui-slider-range, 
.progress.purple .ui-progressbar-value,
.sliderVertical.purple .ui-slider-range,
.progressSlim.purple .ui-progressbar-value {
	background: #603CBA !important;
	border-color: #603CBA !important;
	color: #fff;
}

.blue,
.blue [class="box-header"],
.blue.box,
.slider.blue .ui-slider-range, 
.progress.blue .ui-progressbar-value,
.sliderVertical.blue .ui-slider-range,
.progressSlim.blue .ui-progressbar-value,
.label-info,
.badge-info {
	background: #2D89EF !important;
	border-color: #2D89EF !important;
	color: #fff;
}

.blueDark,
.blueDark [class="box-header"],
.blueDark.box,
.slider.blueDark .ui-slider-range, 
.progress.blueDark .ui-progressbar-value,
.sliderVertical.blueDark .ui-slider-range,
.progressSlim.blueDark .ui-progressbar-value {
	background: #2B5797 !important;
	border-color: #2B5797 !important;
	color: #fff;
}

.blueLight,
.blueLight [class="box-header"],
.blueLight.box,
.slider.blueLight .ui-slider-range, 
.progress.blueLight .ui-progressbar-value,
.sliderVertical.blueLight .ui-slider-range,
.progressSlim.blueLight .ui-progressbar-value {
	background: #EFF4FF !important;
	border-color: #EFF4FF !important;
	color: #fff;
}

.orange,
.orange [class="box-header"],
.orange.box,
.slider.orange .ui-slider-range, 
.progress.orange .ui-progressbar-value,
.sliderVertical.orange .ui-slider-range,
.progressSlim.orange .ui-progressbar-value {
	background: #E3A21A !important;
	border-color: #E3A21A !important;
	color: #fff;
}

.orangeDark,
.orangeDark [class="box-header"],
.orangeDark.box,
.slider.orangeDark .ui-slider-range, 
.progress.oragneDark .ui-progressbar-value,
.sliderVertical.orangeDark .ui-slider-range,
.progressSlim.orangeDark .ui-progressbar-value {
	background: #DA532C !important;
	border-color: #DA532C !important;
	color: #fff;
}
*/

.bred,
.bred [class="box-header"],
.bred.box,
.slider.bred .ui-slider-range, 
.progress.bred .ui-progressbar-value,
.sliderVertical.bred .ui-slider-range,
.progressSlim.bred .ui-progressbar-value,
.label-important,
.badge-important {
	background: #EB3C00 !important;
	border-color: #EB3C00 !important;
	color: #fff;
}

.widgetpadding { padding:10px; }

/* Browsers Stats
=================================================================== */

.browserStat.big {
	display:inline-block;
	width: 49%;
	text-align: center;
	margin-bottom: 20px;
	padding: 0px;
}

.browserStat {
	display:inline-block;
	width: 32%;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.browserStat span{
	display:block;
	text-align: center;
	margin-top: 10px;
}

.gauge {
    display: inline-block;
    height: 160px;
    width: 200px;
}

.half-tile i.icon, .half-tall i.icon, .half-wide i.icon {
    font-size: 48px;
    margin: 0.2em;
    text-align: center;
}